body {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation: fadeDown 1s ease forwards;
    width: 80%;
}



.logo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.5em;
    color: #0891b2;
}

span {
    padding-left: 18%;
    margin-top: 3%;
}

.svg-logo {
    width: 10px;
}



.main-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}


    .main-nav a {
        color: #0891b2;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 20px;
        transition: background 0.3s ease;
    }

        .main-nav a.active {
            background: #ecfeff;
        }

        .main-nav a:hover {
            background: rgb(217, 245, 247);
        }

.perfil-btn {
    background: linear-gradient(135deg, #ecfeff, #0891b2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}

    .perfil-btn:hover {
        transform: translateY(-3px);
        background: linear-gradient(135deg, #ecfeff, #0891b2)
    }
